@{
	var isAuthenticated = Context.User.Identity.IsAuthenticated;
    var isAdmin = isAuthenticated && Context.User.IsInRole("Admin");
	var isStaff = isAuthenticated && Context.User.IsInRole("Staff");
}

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
    <i class="fa-solid fa-bars fa-xs"></i>
</div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="search-icon  search-switch">
        <i class="icon_search"></i>
    </div>
    <nav class="mainmenu mobile-menu">
        <ul>
            <li class="active"><a asp-page="/Index">Trang chủ</a></li>
            @if (isAdmin || isStaff)
			{
				<li><a asp-area="Admin" asp-controller="Home" asp-action="Index" >Quản trị</a></li>
			}
            <li><a asp-page="/Rooms/Index">Phòng</a></li>
            <li><a asp-page="/About">Về chúng tôi</a></li>
            <li><a asp-page="/Contact">Liên hệ</a></li>
			@if (isAuthenticated)
			{
				<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
						Xin chào, @Context.User.Identity.Name
					</a>
					<ul class="dropdown-menu" style="position: relative">
                        <li><a asp-page="/Bookings/WishList" class="dropdown-item">Wishlist</a></li>
                        <li><a asp-page="/Bookings/History" class="dropdown-item">Lịch sử đặt phòng</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">Thông tin cá nhân</a></li>
						<li><a asp-area="Identity" asp-page="/Account/Logout" class="dropdown-item">Đăng xuất</a></li>
					</ul>
				</li>
			}
			else
			{
				<li><a asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a></li>
				<li><a asp-area="Identity" asp-page="/Account/Register">Đăng ký</a></li>
			}
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="top-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    <ul class="tn-left">
        <li><i class="fa fa-phone"></i> (+84) 0977997700</li>
        <li><i class="fa fa-envelope"></i> support.hotel@gmail.com</li>
    </ul>
</div>
<!-- Offcanvas Menu Section End -->