<div class="room-item">
    <img src="~/images/client/room/room-2.jpg" alt="">
    <div class="ri-text">
        <h4>Phòng King</h4>
        <h3>500.000<span>/Đêm</span></h3>
        <table>
            <tbody>
                <tr>
                    <td class="r-o">Size:</td>
                    <td>30 ft</td>
                </tr>
                <tr>
                    <td class="r-o">Dung tích:</td>
                    <td>Tối đa 5 người</td>
                </tr>
                <tr>
                    <td class="r-o">Giường:</td>
                    <td>King Bed</td>
                </tr>
                <tr>
                    <td class="r-o">Tiện ích:</td>
                    <td>Wifi, Tivi, Phòng tắm,...</td>
                </tr>
            </tbody>
        </table>
        <a asp-page="/Rooms/Detail" class="primary-btn">Tìm hiểu thêm</a>
    </div>
</div>