@using Hotel_Management.Areas.Admin.ViewModels;
@using Hotel_Management.Areas.Admin.Services.Interfaces
@inject IHotelServices hotelServices;
@model HotelServicesVM
@{
    ViewData["Title"] = "Sửa thông tin dịch vụ";

    var hotels = hotelServices.GetAllAsync().Result;
}

<div class="container mt-5">
    <div class="card shadow rounded-4 border-0">
        <div class="card-header bg-success text-white rounded-top-4">
            <h3 class="mb-0">Sửa thông tin dịch vụ</h3>
        </div>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="card-body mt-2">
            <form asp-area="Admin" asp-controller="HotelServices" asp-action="Edit" method="post">
				<input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <select asp-for="HotelId" class="form-select">
                        <option value="">-- Chọn khách sạn --</option>
                        @foreach (var hotel in hotels)
                        {
                            <option value="@hotel.Id">@hotel.Name</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Hủy
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-plus-circle"></i> Sửa dịch vụ
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
