@model PasswordVM
@{
	ViewData["Title"] = "Đặt lại mật khẩu";
}

<div class="container mt-5">
    <div class="card shadow rounded-4 border-0">
        <div class="card-header bg-success text-white rounded-top-4">
            <h3 class="mb-0">Đặt lại mật khẩu</h3>
        </div>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="card-body mt-2">
            <form asp-area="Admin" asp-controller="Customer" asp-action="ResetPassword" method="post">
				<input type="hidden" asp-for="UserId" />
                <div class="mb-3">
                    <label asp-for="NewPassword" class="form-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Hủy
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-plus-circle"></i> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}