@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "~/Pages/Shared/_Layout.cshtml";
    }
}

<div class="container py-5 d-flex justify-content-center align-items-center">
    <div style="min-width: 1200px">
        <h3 style="text-align: center">Manage your account</h3>
        <hr />
        <h2>Change your account settings</h2>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
