@page "/danh-sach-phong/chi-tiet-phong"
@model Hotel_Management.Rooms.Pages.DetailModel
@{
    ViewData["Title"] = "Room Detail";
}

<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src="~/images/client/room/room-details.jpg" alt="">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>Phòng Deluxe</h3>
                        </div>
                        <h2>350.000<span>/Đêm</span></h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Size:</td>
                                    <td>30 ft</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Dung tích:</td>
                                    <td>Tối đa 2 người</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Giường:</td>
                                    <td>King Bed</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Tiện ích:</td>
                                    <td>Wifi, Tivi, Phòng tắm,...</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="f-para">
                            Phòng Premium King tại khách sạn Sona khiến người ta không khỏi ngỡ ngàng bởi sự sang
                            trọng và tinh tế từ những chi tiết nhỏ nhất. Bước vào phòng, bạn sẽ bị cuốn hút ngay lập
                            tức bởi không gian rộng rãi, ánh sáng dịu nhẹ cùng với mùi hương thơm ngát từ hoa tươi
                            được bày trí khắp nơi. Nội thất trong phòng mang phong cách hiện đại, với giường
                            king-size êm ái, bộ ga giường trắng tinh mềm mại và chiếc sofa da cao cấp.
                        </p>
                        <p>
                            Điểm nhấn của căn phòng chính là cửa sổ lớn với tầm nhìn tuyệt đẹp ra thành phố về đêm,
                            mang đến cảm giác thư thái và yên bình sau một ngày dài bận rộn. Phòng tắm được thiết kế
                            riêng biệt, với bồn tắm lớn, vòi sen đứng và đầy đủ các vật dụng cá nhân cần thiết. Tất
                            cả tạo nên một không gian nghỉ ngơi thoải mái và đẳng cấp.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" id="booking-form">
                <div class="room-booking">
                    <h3>Đặt chỗ của bạn</h3>
                    <form action="@Url.Page("/Payment")">
                        <div class="check-date">
                            <label for="date-in">Nhận phòng:</label>
                            <input type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Trả phòng:</label>
                            <input type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="guest">Số lượng khách:</label>
                            <select id="guest">
                                <option value="">1 Người lớn</option>
                                <option value="">2 Người lớn</option>
                                <option value="">3 Người lớn</option>
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="room">Số phòng:</label>
                            <select id="room">
                                <option value="">1 Phòng</option>
                                <option value="">2 Phòng</option>
                                <option value="">3 Phòng</option>
                            </select>
                        </div>
                        <button type="submit">Đặt phòng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room Details Section End -->