@page
@model Hotel_Management.Pages.Bookings.SuccessModel
@{
	ViewData["Title"] = "Đặt phòng thành công";
}

<div class="container my-5 d-flex justify-content-center align-items-center">
	<div class="w-100">
		<h2 align="center">Đặt phòng thành công!</h2>

		<p align="center">Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>

		<div align="center">
			<a class="btn btn-success" asp-page="/Index">Về trang chủ</a>
			<a class="btn btn-info" asp-page="/Bookings/History">Xem lịch sử đặt phòng</a>
		</div>
	</div>
</div>