@page
@model Hotel_Management.Pages.Bookings.SuccessModel
@{
	ViewData["Title"] = "Đặt phòng thành công";
}

<h2>Đặt phòng thành công!</h2>

<p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>

<a class="btn btn-success" asp-page="/Index">Về trang chủ</a>
<a class="btn btn-info" asp-page="/Bookings/History">Xem lịch sử đặt phòng</a>