@page "/lien-he"
@model Hotel_Management.Pages.ContactModel
@{
	ViewData["Title"] = "Contact";
}

<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>Thông tin liên hệ</h2>
                    <p>
                        Nếu bạn cần giúp đỡ hoặc có bất kỳ thắc mắc gì, hãy liên hệ chúng tôi bằng những phương thức
                        liên lạc sau.
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td class="c-o">Địa chỉ:</td>
                                <td>170 Trần Hưng Đạo, Quy Nhơn, Bình Định</td>
                            </tr>
                            <tr>
                                <td class="c-o">Phone:</td>
                                <td>(+84) 0977997700</td>
                            </tr>
                            <tr>
                                <td class="c-o">Email:</td>
                                <td>support.hotel@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="c-o">Fax:</td>
                                <td>+(77) 999 29970</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <form method="post" asp-page-handler="SendFeedback" class="contact-form">
                    @if (TempData["ErrorMessage"] != null)
					{
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
							@TempData["Message"]
                        </div>
					}

					@if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            @TempData["SuccessMessage"]
                        </div>
					}

                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Tên của bạn" name="username" required>
                        </div>
                        <div class="col-lg-6">
                            <input type="email" placeholder="Email của bạn" name="email" required>
                        </div>
                        <div class="col-lg-12">
                            <textarea placeholder="Tin nhắn của bạn" name="content" required></textarea>
                            <button type="submit">Gửi ngay</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.0522938721992!2d109.22914007332005!3d13.775719996742824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316f6c865afb081f%3A0x56b1a885f75b9520!2zMTcwIFRy4bqnbiBIxrBuZyDEkOG6oW8sIFF1eSBOaMahbiwgQsOsbmggxJDhu4tuaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1731077185302!5m2!1svi!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
<!-- Contact Section End -->