@page
@model Hotel_Management.Pages.PaymentModel
@{
	ViewData["Title"] = "Payment";
}

<!-- Checkout Section Begin -->
<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3 class="mb-3">Thông tin thanh toán</h3>
                <form action="#" class="checkout-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="firstName" class="form-label">Họ*</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Nhập họ">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Tên*</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Nhập tên">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="cccd" class="form-label">CCCD*</label>
                                <input type="text" class="form-control" id="cccd" name="cccd"
                                       placeholder="Nhập số căn cước công dân">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="country" class="form-label">Quốc tịch*</label>
                                <input type="text" class="form-control" id="country" name="country">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Liên hệ*</label>
                                <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email*</label>
                                <input type="email" class="form-control" id="email" placeholder="Nhập email">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="notes" class="form-label">Các yêu cầu đặc biệt</label>
                        <textarea class="form-control" id="notes" rows="3" placeholder="Nhập ghi chú"></textarea>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="saveAddress">
                        <label class="form-check-label" for="saveAddress">
                            Lưu thông tin thanh toán
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h5>Chi tiết đặt phòng của bạn</h5>
                        <a href="@Url.Page("/Room")">Chỉnh sửa</a>
                    </div>
                    <div class="card-body">
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex lh-sm align-items-center">
                                <img src="~/images/client/room/room-1.jpg" alt="Phòng Deluxe" class="img-thumbnail"
                                     style="width: 100px; margin-right: 10px;">
                                <div class="flex-grow-1">
                                    <h6 class="my-0">Phòng thượng hạng</h6>
                                    <small class="text-muted">2 giường đơn</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <span>Thời gian nhận phòng:</span>
                                    <span class="text-secondary">12:00 PM,<br>12/11/20234</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>Thời gian trả phòng:</span>
                                    <span class="text-secondary">12:00 PM,<br>14/11/2024</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <span>Giá gốc:</span>
                                    <span>500.000 VNĐ</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>Giảm giá:</span>
                                    <span class="text-danger">-50.000 VNĐ</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>Tổng cộng:</span>
                                    <strong class="text-success">450.000 VNĐ</strong>
                                </div>
                            </li>
                        </ul>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="paypal"
                                       value="paypal">
                                <label class="form-check-label" for="paypal">
                                    Paypal
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="cod"
                                       value="cod" checked>
                                <label class="form-check-label" for="cod">
                                    Thanh toán trực tiếp
                                </label>
                            </div>
                        </div>
                        <button class="btn custom-btn btn-lg btn-block" type="submit">Thanh toán</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout Section End -->